.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #79429f !important;
    border-radius: 0 !important;
    color: #ffffff !important;

}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{

}
.nav-link{
    color: #79429f !important;
}

.nav-link:focus, .nav-link:hover {
    border-color: #79429f !important;
    border-radius: 0 !important;
    box-shadow: 0 0 0 1px #79429f, 0 0 2px 1px rgb(121, 66, 159);
}